{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>Halaman untuk membuat itinerary</h1>
			</div>
			<div class="col-md-6">
				<form id="distance_form" method="POST">
					{% csrf_token %}
					<div class="form-group">
                        <label class="control-label">Jumlah Hari</label>
                        <div class="col-md-11">
                          <div class="m-b-sm">
                            <input class="form-control select2 select-destination" id="days" name="days" data-width="100%" required></input>
                          </div>
                        </div>
                    <label class="control-label">Lokasi Tujuan</label>

                    <div class="destinations">
                      <div class="row destination-list">


                        <div class="col-md-11">
                          <div class="m-b-sm">
                            <input class="form-control select2 select-destination" id="from_places" name="origin" data-width="100%" required></input>
                          </div>
                        </div>

                        <div class="col-md-11">
                          <div class="m-b-sm">
                            <input class="form-control select2 select-destination" id="to_places" name="origin" data-width="100%" required></input>
                          </div>
                        </div>
                        <div class="col-md-11">
                          <div class="m-b-sm">
                            <input class="form-control select2 select-destination" id="dest2" name="origin" data-width="100%" required></input>
                          </div>
                        </div>
                        <div class="col-md-11">
                          <div class="m-b-sm">
                            <input class="form-control select2 select-destination" id="dest3" name="origin" data-width="100%" required></input>
                          </div>
                        </div>
                        <div class="col-md-11">
                          <div class="m-b-sm">
                            <input class="form-control select2 select-destination" id="dest4" name="origin" data-width="100%" required></input>
                          </div>
                        </div>
                        <div class="col-md-1 h-30 vertical-center">
                          <div class="glyphicon glyphicon-remove remove-btn"></div>
                        </div>
                      </div>
                    </div>
                  </div>
					<input type="submit" name="calculate" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
	<script>
		function activatePlacesSearch(){

			var input = document.getElementsByClassName('');
            var origin = new google.maps.places.Autocomplete(document.getElementById('from_places'))
            var dest = new google.maps.places.Autocomplete(document.getElementById('to_places'))
            var dest2 = new google.maps.places.Autocomplete(document.getElementById('dest2'))
            var dest3 = new google.maps.places.Autocomplete(document.getElementById('dest3'))
            var dest4 = new google.maps.places.Autocomplete(document.getElementById('dest4'))

			for(var i = 0; i < input.length; i++){
				autocomplete = new google.maps.places.Autocomplete(input[i]);
			}

			var input_destination = $('.destinations > div').first();
        	var input_destination_box = input_destination.find('.select-destination');

          	// Agar ketika tombol plus (tambah lokasi tujuan) di klik,
          	// menambahkan 'lokasi tujuan' baru.
        	$('#add-destination').click(function () {
          		var new_destination = input_destination.clone();
          		input_destination_box.clone();
          		var inputEl = new_destination.find('.select-destination');

          		inputEl.html('');

          		$('.destinations').append(new_destination);
        	});

	}
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=activatePlacesSearch" async defer></script>
</body>
</html> 