{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/createItinerary.css" %}">
	<link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Form-->
	<div class="container">
		<div class="form">
		  	<div class="form-toggle"></div>
			  	<div class="form-panel one">
				    <div class="form-header">
				      <h1>Where do you want to go?</h1>
				    </div>
				    <div class="form-content">
				      	<form method="POST">
				      		{% csrf_token %}
				      		<div class="form-group">
				      			<div>
				      				<div>
						      			<label>Jumlah Hari</label>
		                            	<input class="form-control select2 select-destination" id="days" name="days" data-width="100%" required></input>
				      				</div>
				      			</div>
					        </div>
					        <div class="form-group">
					        	<label>Lokasi Awal</label>
					        	<input class="form-control select-destination" type="text" id="origin" name="origin" required="required"/>
					        </div>
					        <div class="destinations">
					        	<label>Lokasi Tujuan</label>
					        		<div class="form-group">
					        			<input class="form-control select-destination" type="text" name="destination" required="required"/>
					        		</div>
					        	
					        	<div class="col-md-1 h-30 vertical-center">
                          			<div class="glyphicon glyphicon-remove remove-btn"></div>
                        		</div>
					        </div>
					        {% if messages %}
					        {% for message in messages %}
					        	<div class="alert alert-danger">
					        		<div class="form-group" role="alert">
					        			{{message}}
					        		</div>
					        	</div>
					        {% endfor %}
					        {% endif %}
					        <div class="form-group">
                    			<button id="add-destination" type="button" class="btn btn-primary btn-circle">Add Destination
                    			</button>
                  			</div>
					        <div class="form-group">
					          <button type="submit" name="calculate">Submit</button>
					        </div>
				      	</form>
				    </div>
		 		</div>
				<div class="form-panel two">
				    <div class="form-header">
				      <h1>Register Account</h1>
				    </div>
				    <div class="form-content">
					    <form>
					    	{% csrf_token %}
					        <div class="form-group">
					          <label for="username">Username</label>
					          <input type="text" id="username" name="username" required="required"/>
					        </div>
					        <div class="form-group">
					          <label for="password">Password</label>
					          <input type="password" id="password" name="password" required="required"/>
					        </div>
					        <div class="form-group">
					          <label for="cpassword">Confirm Password</label>
					          <input type="password" id="cpassword" name="cpassword" required="required"/>
					        </div>
					        <div class="form-group">
					          <label for="email">Email Address</label>
					          <input type="email" id="email" name="email" required="required"/>
					        </div>
					        
					        <div class="form-group">
					          <button type="submit">Register</button>
					        </div>
					    </form>
					</div>
				</div>
		</div>
	</div>
<script src="{% static "js/createItinerary.js" %}"></script>
<script type="text/javascript">
	function activatePlacesSearch(){
        var origin = new google.maps.places.Autocomplete(document.getElementById('origin'));
	}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=activatePlacesSearch" async defer></script>
</body>
</html>